In [1]:
import pandas as pd

In [3]:
user_data = pd.read_csv('/aiffel/aiffel/customer_segmentation/user_data.csv')
user_data.head()

,CustomerID,purchase_cnt,item_cnt,recency,user_total,user_average,unique_products,average_interval,total_transactions,cancel_frequency,cancel_rate
0,16953,1,10,30,20.8,20.8,1,0.0,1,0,0.0
1,13703,1,10,318,99.5,99.5,1,0.0,1,0,0.0
2,13829,1,-12,359,-102.0,-102.0,1,0.0,1,1,1.0
3,16257,1,1,176,21.9,21.9,1,0.0,1,0,0.0
4,16765,1,4,294,34.0,34.0,1,0.0,1,0,0.0